{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>
		{% block title  %}
    Login
    {% endblock %}
	</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="{% static 'emailapp/css/opensans-font.css' %}">
	<link rel="stylesheet" type="text/css" href="fonts/line-awesome/css/line-awesome.min.css">
	<!-- Jquery -->
	<link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="{% static 'emailapp/css/style2.css' %}"/>
    <link rel="stylesheet" href="{% static 'emailapp/css/bootstrap.css' %}">
</head>

<body class="form-v7">
	
	<div class="page-content">
		<div class="form-v7-content">
			
			<div class="form-center">
				<!-- <img src="{% static 'second_app/Images/reg (2).jpg' %}" alt="form"> -->
				 <!-- <p class="text-1">Sign In</p> -->
				
			</div>
			
			<form class="form-detail" action="#" method="post">
        {% if messages %}
        {% for m in messages%}
          <div class="alert alert-danger">{{ m }}</div>
        {% endfor %}
      {% endif %}
				<div class="form-row">
					<label for="username">USERNAME</label>
					<input type="text" name="username" id="username" class="input-text">
				</div>
			
				<div class="form-row">
					<label for="password">PASSWORD</label>
					<input type="password" name="password" id="password" class="input-text" required>
				</div>
				
	
					<button class="btn btn-light w-100" type="submit">Login</button>
					
			
       			 <p class="text-center"> Don't Have an Account? <a class="btn btn-primary" href="{% url 'emailapp:register' %}">Sign Up</a></p>
              {% csrf_token %}

			</form>
     		</div> 
				
	</div>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
  <script src="{% static 'emailapp/js/bootstrap.min.js' %}"></script>
	
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
